*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main_add_customer{
    text-transform: capitalize;
}

#main_add_customer label{
    padding: 0.5rem 0rem;
}
#main_add_customer_btn button{
    padding: 0.5rem 3rem !important;
}